## This is the configuration file for Netlify
## https://docs.netlify.com/configure-builds/file-based-configuration/

[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "dist"