@import "tailwindcss";

@theme {
  --font-display: "Helvetica", "sans-serif";
  --color-primary: #2563eb;
  --color-primary-dark: #1d4ed8;
  --color-success: #16a34a;
  --color-warning: #d97706;
  --color-danger: #dc2626;
}
